<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WebApp0619</display-name>
  	 
  	<servlet>
  		<servlet-name>uploadServlet</servlet-name>
  		<servlet-class>com.study.controller.gboard.UploadServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>uploadServlet</servlet-name>
  		<url-pattern>/upload</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>editServlet</servlet-name>
  		<servlet-class>com.study.controller.gboard.EditServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>editServlet</servlet-name>
  		<url-pattern>/upload/edit</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>jsonUploadServlet</servlet-name>
  		<servlet-class>com.study.controller.store.JsonUploadServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>jsonUploadServlet</servlet-name>
  		<url-pattern>/upload/json</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>excelServlet</servlet-name>
  		<servlet-class>com.study.controller.store.ExcelServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>excelServlet</servlet-name>
  		<url-pattern>/upload/excel</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>xmlServlet</servlet-name>
  		<servlet-class>com.study.controller.store.XmlServlet</servlet-class>
  	</servlet>
  	<servlet-mapping>
  		<servlet-name>xmlServlet</servlet-name>
  		<url-pattern>/upload/xml</url-pattern>
  	</servlet-mapping>
  	
</web-app>